/sonar-project.properties
menschen/.classpath
menschen/.factorypath
menschen/.project
menschen/.settings
menschen/target
.idea
menschen/src/main/resources/META-INF/persistence.xml
menschen/src/test/resources/arquillian.xml
.metadata
menschen/src/test/resources/META-INF/test-persistence.xml
menschen/src/main/webapp/assets/bower_components
.tern-project
menschen/src/main/resources/META-INF/apache-deltaspike.properties
menschen/bin/

